<div class="container">
<%= simple_form_for @user do |f| %>
<%= f.error_notification %>
<%= f.input :lastname, label: 'Nom', placeholder: "#{current_user.lastname}" %>
<%= f.input :firstname, label: 'Prénom', placeholder: "#{current_user.firstname}" %>
<%= f.input :phonenumber, label: 'Phonenumber', placeholder: "#{current_user.phonenumber}" %>
<%= f.input :email, label: 'Phonenumber', placeholder: "#{current_user.email}" %>
<%= f.button :submit, 'Enregister', class:"button" %>
<% end %>
</div>
