<div class="container">

    <% if current_user.email == "anais_christophe@hotmail.com" %>

     <%# @patient2=User.new(email: @patient.email, lastname: @patient.lastname, firstname: @patient.firstname, phonenumber: @patient.phonenumber, password: "123456", password_confirmation: "123456")%>
      <%# @user=User.new(email: "ncixxtt@gmail.com", lastname: "cc", firstname: "vvv", phonenumber: "0497645328", password: "123456", password_confirmation: "123456")%>


  <% elsif current_user.email != "anais_christophe@hotmail.com" %>

  <div class="appointmentRecap">

    <%= "Votre rendez-vous est actuellement le #{@appointment.date.strftime("%d/%m/%Y")} à #{@appointment.date.strftime("%H:%M")}" %>

  </div>

  <div class="row justify-content-center calendarsection">
    <div class="col-12 col-lg-4 avalaibledates">
      <% @dates=[] %>
      <%  @dates << Time.new(2020, 05, 06, 2, 2, 2, "+02:00") << Time.new(2020, 05, 13, 2, 2, 2, "+02:00") << Time.new(2020, 05, 20, 2, 2, 2, "+02:00") << Time.new(2020, 05, 27, 2, 2, 2, "+02:00")%>
      <h4>Prochaines dates ayant des disponibilités :</p>
      <ul>
      <% @dates.each do |date|%>
      <li><%= date.strftime("%d-%m-%Y") %></li>
      <%end %>
      </ul>
    </div>

    <div class="col-12 col-lg-8">
      <div id="calendar"
    data-user="<%= current_user.id%>"
    data-appointmentsbooked="<%= @appointmentsbooked.to_json %>">
    </div>

    <div class="formCalendar inactif">
    <%= simple_form_for @appointment do |f| %>
      <%= f.error_notification %>
      <%= date=nil  %>
      <%= f.input :date, as: :hidden %>
      <div id="appointment_date" data-datevalue="<%= date.to_json %>"></div>
      <%= f.button :submit, 'réserver!', class:"button"%>
      <% end %>
    </div>
  </div>

      <% end %>
</div>
