<div class="container">


    <% if current_user.email != "anais_christophe@hotmail.com" %>
    <h3>Mes rendez-vous:</h3>

    <% if @my_appointments == [] %>
    <p>Vous n'avez pas de rendez-vous à venir.</p>
    <%= link_to "Pour prendre un rendez-vous", root_path  %>

    <% else %>


    <ul>
      <% @my_appointments.each do |appointment|%>
      <li class="appointmentlist">


        <%= "#{User.find(id=appointment.user_id).lastname}" %>
        <%= "rendez-vous le #{appointment.date.strftime("%d/%m/%Y")} à #{appointment.date.strftime("%Hh%M")}" %>

        <%= link_to edit_appointment_path(appointment) do %>
        <i class="fas fa-edit"></i>
        <% end %>

        <%= link_to appointment_path(appointment), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="icon fas fa-trash-alt"></i>
        <% end %>
      </li>
      <%end %>
    </ul>

    <%end %>


  <% elsif current_user.email=="anais_christophe@hotmail.com" %>

  <div class="row justify-content-center calendarsection">
    <div class="col-12 col-lg-4 avalaibledates">
      <% @dates=[] %>
      <%  @dates << Time.new(2020, 05, 13, 2, 2, 2, "+02:00") << Time.new(2020, 05, 20, 2, 2, 2, "+02:00") << Time.new(2020, 05, 27, 2, 2, 2, "+02:00") << Time.new(2020, 05, 29, 2, 2, 2, "+02:00")%>
      <h4>Prochaines dates ayant des disponibilités :</h4>
      <ul>
        <% @dates.each do |date|%>
        <li><%= date.strftime("%d-%m-%Y") %></li>
        <%end %>
      </ul>
    </div>

    <div class="col-12 col-lg-8">
      <div id="calendar"
      data-user="<%= current_user.id%>"
      data-appointmentsbooked="<%= @appointmentsbooked.to_json %>">
    </div>
  </div>

  <div class="formCalendar inactif">

  </div>

  <% end %>

</div>

