<div class="container">

  <% if current_user.email == "anais_christophe@hotmail.com" %>
    <div class="container">
      <%= simple_form_for(@user, as: :user, method: :post, url: create_user_path) do |f| %>
        <%= f.error_notification %>
        <%= f.input :email, placeholder: 'email patient'  %>
        <%= f.input :lastname, placeholder: 'nom patient' %>
        <%= f.input :firstname, placeholder: 'nom patient' %>
        <%= f.input :phonenumber, placeholder: 'téléphone patient' %>
        <%#= f.hidden_field :password, value: "123456" %>
        <%#= f.hidden_field :password_confirmation, value: "123456" %>
        <%#= f.button :submit, class:'button'%>
      <% end %>
    </div>



  <% elsif current_user.email != "anais_christophe@hotmail.com" %>
    <div class="personnalInfo">
      <h4>Avant de prendre rendez-vous, merci de vérifier vos données personnelles:</h2>
      <p> <br>
        email : <%= current_user.email %> <br>
        Nom: <%= current_user.lastname %> <br>
        Prénom : <%= current_user.firstname%> <br>
        Téléphone: <%= current_user.phonenumber %>

      </p>
      <%= link_to "Modifer ses données personnelles", "/users/:id/edit" %>
    </div>
  <% end %>


  <div class="row justify-content-center calendarsection">
    <div class="col-12 col-lg-4 avalaibledates">
      <% @dates=[] %>
      <%  @dates << Time.new(2020, 05, 25, 2, 2, 2, "+02:00") << Time.new(2020, 05, 27, 2, 2, 2, "+02:00") << Time.new(2020, 05, 29, 2, 2, 2, "+02:00")%>
      <h4>Prochaines dates ayant des disponibilités :</h4>
      <ul>
      <% @dates.each do |date|%>
      <li><%= date.strftime("%d-%m-%Y") %></li>
      <%end %>
      </ul>
    </div>

    <div class="col-12 col-lg-8">
      <div id="calendar"
    data-user="<%= current_user.id%>"
    data-appointmentsbooked="<%= @appointmentsbooked.to_json %>">
    </div>

    <div class="formCalendar inactif">
      <%= simple_form_for @appointment do |f| %>
        <%= f.error_notification %>
        <%= date=nil  %>
        <%= f.input :date, as: :hidden %>
        <div id="appointment_date" data-datevalue="<%= date.to_json %>"></div>
        <%= f.button :submit, 'réserver!', class:"button doubleform_validation"%>
      <% end %>
    </div>
  </div>
</div>
